body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .socImg > img {
    height: 32px;
    width: auto;
  }

  a {
    text-decoration: none;
  }

  .about{
    margin: auto;
    background-color: white;
    border: solid 1px grey;
    box-shadow: 3px 2px 2px black;
    border-left: none;
  }

  .socialLinks {
    text-align: end;
  }

  .headding{
    justify-content: space-around;
    width: 1000px;
    margin:auto;
    margin-top: 30px
  }

  .ghLink > img,
  .projLink > svg {
    height: 24px;
  }

  .flexContainer{
    display: flex;
  }

  .screenshot{
    width: 250px;
    height: 200px;
    object-fit: cover;
  }

  .portrait{
    text-align: center;
    position: relative;
  }

  .portrait > img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    vertical-align: middle;
    border: 1px solid black;
  }

  .portrait > h3 {
    color: white;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
  }

  .backgroundDesign{
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 200px;
    background-color: rgb(5, 150, 240);
  }